/* Google font*/
@import url('https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&family=Amarante&family=Coral+Pixels&family=Merienda:wght@300..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Smythe&family=Tangerine:wght@400;700&family=Tourney:ital,wght@0,100..900;1,100..900&display=swap');
/*Ganeral*/




body {
  background-color: #2A5091;
  color: whitesmoke;
  font-family: "Amarante", serif;
  font-weight: 100;
  font-style: normal;


}

/* Style the heading*/

h1 {
  font-family: 'Smythe', sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 40px;
  text-align: center;
  color: #bddcf5;
  margin: 1px;
  text-align: center;
}
#heroImage{
  width: 100%;
}


.introdation {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}



/*Stlye the welcome area*/

#userNameSubmission {
  text-align: center;

}

#userName {
  background-color: whitesmoke;
  border: none;

}

#btn-message {
  background-color: #cbc8d1;
  font-family: "Amarante", serif;
  border: none;

}

#welcomeMessage {
  font-family: "Amarante", serif;
  font-weight: 400;
  font-style: normal;
  font-size: large;
  color: #cbae80;
  text-align: center;
}

.fade-slowly {
  opacity: 0;
  transition: opacity 2s ease-out;

}

.fade {
  opacity: 0;
  transition: opacity 1s ease-out;

}

/*Style the Quiz area*/

#question {
  height: 10vh;

}


/*This CSS block is designed to style interactive answer buttons, 
 carefully selecting background and font colors to evoke the distinct national palettes of the Scandinavian countries 
 (Denmark,, Sweden ,Norway). The aim is to create a visually cohesive and regionally 
 representative user interface.IN most answers but not all*/

#btn-style {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
 
}

#answer0 {
  font-family: "Amarante", serif;
  background-color: #C9072A;
  color: #FFFFFF;
  width: 6em;
  height: 2.5em;

}

#answer1 {
  font-family: "Amarante", serif;
  background-color: #005194;
  color: #FECC00;
  width: 6em;
  height: 2.5em;
  
}

#answer2 {
  font-family: "Amarante", serif;
  background-color: #BB042B;
  color: #001A5B;
  width: 6em;
  height: 2.5em;

}

.endGame{
  text-align: center;
  color: #001A5B;
}
.endGame button {
  background-color:  #001A5B;
  color: #FECC00;
  font-family: "Amarante", serif;
  font-size: 15px;
  border: none;
  height: 2em;
  width: 6em;
  
}

/*Stlye the score area*/
#score {
  text-align: center;
}

#correctScore {
  color: #04AA6D;
}

.fa-circle-check {
  color: #04AA6D;
}

#inCorrectScore {
  color: #ff0000;
}

.fa-circle-xmark {
  color: #ff0000;

}

.copyRight {

  color: #5d8ecb;
  font-size: medium;
  text-align: center;
}


/** Media query tablets and larger screen (768px and up) */
@media screen and (min-width: 768px) {

  #heroImage {
    height: 400px;
  }
  


  #question {

    height: 4vh;
    max-height: 450px;
    width: 650px;
    margin-left: auto;
    margin-right: auto;
  }

  #answer0 {

    width: 10em;

  }

  #answer1 {

    width: 10em;

  }

  #answer2 {

    width: 10em;
  }


}


/** Media query laptop screen (1024 and up) */
@media screen and (min-width: 1024px) {


  
  #question {
    width: 810px;
  }

  #answer0 {

    width: 13em;

  }

  #answer1 {

    width: 13em;

  }

  #answer2 {

    width: 13em;
  }

}


/** Media query larg screen (1440 and up) */
@media screen and (min-width: 1440px) {

  #heroImage {
    height: 600px;
  }

  body {
    font-size: x-large;
  }

  #userNameSubmission {
    height: 2em;
  }

  #userName {
    width: 15em;
    font-size: large;
  }


  #btn-message{
    width: 5em;
    font-size: large;
  }

  #welcomeMessage {
    font-size: 40px;
  }
  
  #question {
    width: 1190px;
    
  }

  #answer0 {
    font-size: 20px;
    height: 2.5em;
  }


  #answer1 {
    font-size: 20px;
    height: 2.5em

  }

  #answer2 {
    font-size: 20px;
    height: 2.5em
  }

  .copyRight {
    font-size: 20px;

  }

}

/** Media query larg screen (2560 and up) */
@media screen and (min-width: 2560px) {

  body {
    font-size: 40px;
  }

  h1 {
    font-size: 80px;
  }

  #heroImage {
    display: block;
    margin: 2px auto;
    height: 1100px;
  }

  #userNameSubmission {
    height: 5em;
  
  }

  #userName {
    width: 15em;
    font-size: 30px;
  }

  #btn-message{
    width: 5em;
    font-size: 30px;
  }

  #btn-style {
    display: flex;
    justify-content: center;
  }

   #question {
    height: 6vh;
    width: 1190px;
    
  }

  #answer0 {
    font-size: 25px;
    height: 2.5em;
    font-weight: bold;
  }


  #answer1 {
    font-size: 25px;
    height: 2.5em;
    font-weight: bold;

  }

  #answer2 {
    font-size: 25px;
    height: 2.5em;
    font-weight: bold;
  }

  .endGame button {
  font-size: 30px;
  border: none;
  height: 3em;
  width: 8em;
  
}
  .copyRight {
    font-size: 30px;
  }

}