/* Google font*/
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Tangerine:wght@400;700&display=swap');

.tangerine-regular {
  font-family: "Tangerine", cursive;
  font-weight: 400;
  font-style: normal;
}

.tangerine-bold {
  font-family: "Tangerine", cursive;
  font-weight: 700;
  font-style: normal;
}
.amarante-regular {
  font-family: "Amarante", serif;
  font-weight: 400;
  font-style: normal;
}

 .fade-slowly {
      opacity: 0;
      transition: opacity 2s ease-out;

 }

 .fade {
      opacity: 0;
      transition: opacity 1s ease-out;

 }

 #welcomeMessage{
  font-family:'Amarante', Arial, Helvetica, sans-serif;
  display:flex;
  padding-top: 2em;
  font-size: large;
  font-family: "Tangerine", cursive;
  font-weight: 700;
  font-style: normal;
 }